<div ng-controller="dashboard">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <font size="10">DashBoard</font>
            <small>...</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </section>
    <br />
    <!-- Main content -->
    <section class="content">
        <!-- Info boxes -->
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Market Share</span>
                        <span class="info-box-number">{{MarketShare}}<small>%</small></span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-red"><i class="fa  fa-warning"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Unprocessed Insurance Purchases</span>
                        <span class="info-box-text"> Purchases</span>
                        <br />
                        <span class="info-box-number">{{unprocessedApplications}}</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <!-- fix for small devices only -->
            <div class="clearfix visible-sm-block"></div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-green"><i class="ion ion-ios-cart-outline"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Sales This Month</span>
                        <span class="info-box-number">{{mySales}}</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Unique Clients</span>
                        <span class="info-box-number">{{memebers}}</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <br/>
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <div class="col-md-8">
                <!-- MAP & BOX PANE -->
                <div class="box box-success" >
                    <div class="box-header with-border">
                        <h1 class="box-title"><font size="5">Reseller HotSpots</font></h1>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding" >
                        <!--<div class="row">-->
                            <div>
                                <div class="pad">
                                    <!-- Map will be created here -->
                                    <div id="world-map-markers" style="height: 330px;"></div>
                                </div>
                            <!--</div>-->
                            <!-- /.col -->
                           
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.box-body -->
                    <!-- /.box-body -->
                    <div class="box-footer">
                          The  above  map  displays  areas  where  the  most  vouchers  have  been  send  by  resellers
                    </div>
                    <!-- /.box-footer -->

                </div>

            </div>
            <!-- /.col -->

            <div class="col-md-4">
                <!-- /.info-box -->
                <div class="info-box bg-green">
                    <span class="info-box-icon"><i class="fa fa-map-marker"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Popular Selling Area</span>
                        <span class="info-box-number">{{bestArea.address}}</span>

                        <div class="progress">
                            <div class="progress-bar" style="width: 80%"></div>
                        </div>
                        <span class="progress-description">
                           {{bestArea.voucherSent}} Sales
                        </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                
                
                <!-- Info Boxes Style 2 -->
                <div class="info-box bg-yellow">
                    <span class="info-box-icon"><i class="fa fa-map-marker"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Least Popular Area</span>
                        <span class="info-box-number">{{worstArea.address}}</span>

                        <div class="progress">
                            <div class="progress-bar" style="width: 15%"></div>
                        </div>
                        <span class="progress-description">
                           {{worstArea.voucherSent}} Sales
                        </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>

                <!-- /.info-box -->
                <div class="info-box bg-aqua">
                    <span class="info-box-icon"><i class="fa fa-trophy"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Best selling Product</span>
                        <span class="info-box-number">{{bestProduct.name}}</span>

                        <div class="progress">
                            <div class="progress-bar" style="width: 95%"></div>
                        </div>
                        <span class="progress-description">
                           Current Sales {{bestProduct.overallUsage}}
                        </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
                <div class="info-box bg-red">
                    <span class="info-box-icon"><i class="fa fa-exclamation-circle"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Under performing Product</span>
                        <span class="info-box-number">{{worstProduct.name}}</span>

                        <div class="progress">
                            <div class="progress-bar" style="width: 15%"></div>
                        </div>
                        <span class="progress-description">
                            Current Sales {{worstProduct.overallUsage}}
                        </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>