<div ng-controller="reportsController">
    <!-- Main content -->

    <section class="content-header">
        <h1>
            <font size="11">Reports</font>
            <small>...</small>
        </h1>


        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Widgets</li>
        </ol>
    </section>
    <br />
    <br />

    <!-- Main content -->
    <section class="content">
      <div class="row">

          <!-- BAR CHART -->
          <div class="col-xs-11 " style="margin-left:1cm">
            <div class="box box-info" >
                <div class="box-header with-border">
                    <h1 class="box-title"><font size="5">Sales Per Product</font></h1>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="chart">
                        <canvas id="barChart" style="height:300px"></canvas>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
          </div>

        </div>
     </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-11" style="margin-left:1cm">

                <div class="box">
                    <div class="box-header">
                        <h1 class="box-title" ><font size="5">Monthly Revenue</font></h1>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="tblApplications" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th> Month</th>
                                    <th>#Purchases</th>
                                    <th>#Units Sold</th>
                                    <th>Revenue</th>
                                </tr>
                            </thead>

                            <tbody></tbody>

                            <tfoot>
                                <tr>
                                    <th>#</th>
                                    <th> Month</th>
                                    <th>#Purchases</th>
                                    <th>#Units Sold</th>
                                    <th>Revenue</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
    <!-- Modal -->
</div>

<script>


    //$(function()
    //{



        

    //    var areaChartData =
    //    {
           
    //        labels: ["January", "February", "March", "April", "May", "June", "July"],
	//        datasets:
    //        [
    //            {
    //                label: "Electronics",
    //                fillColor: "rgba(210, 214, 222, 1)",
    //                strokeColor: "rgba(210, 214, 222, 1)",
    //                pointColor: "rgba(210, 214, 222, 1)",
    //                pointStrokeColor: "#c1c7d1",
    //                pointHighlightFill: "#fff",
    //                pointHighlightStroke: "rgba(220,220,220,1)",
    //                data: [100, 59, 80, 81, 56, 55, 40]
    //            }
    //        ]




    //    };

    //    var barChartCanvas = $("#barChart").get(0).getContext("2d");
    //    var barChart = new Chart(barChartCanvas);
    //    var barChartData = areaChartData;
       
    //    var barChartOptions = {
    //        //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
    //        scaleBeginAtZero: true,
    //        //Boolean - Whether grid lines are shown across the chart
    //        scaleShowGridLines: true,
    //        //String - Colour of the grid lines
    //        scaleGridLineColor: "rgba(0,0,0,.05)",
    //        //Number - Width of the grid lines
    //        scaleGridLineWidth: 1,
    //        //Boolean - Whether to show horizontal lines (except X axis)
    //        scaleShowHorizontalLines: true,
    //        //Boolean - Whether to show vertical lines (except Y axis)
    //        scaleShowVerticalLines: true,
    //        //Boolean - If there is a stroke on each bar
    //        barShowStroke: true,
    //        //Number - Pixel width of the bar stroke
    //        barStrokeWidth: 2,
    //        //Number - Spacing between each of the X value sets
    //        barValueSpacing: 10,
    //        //Number - Spacing between data sets within X values
    //        barDatasetSpacing: 50,
    //        //String - A legend template
    //        legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].fillColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>",
    //        //Boolean - whether to make the chart responsive
    //        responsive: true,
    //        maintainAspectRatio: true
    //    };

    //    barChartOptions.datasetFill = false;
    //    barChart.Bar(barChartData, barChartOptions);

    //})



</script>
