<div ng-controller="reportsController">
    <!-- Main content -->

    <section class="content-header">
        <h1>
            <font size="11">Reports</font>
            <small>...</small>
        </h1>


        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Widgets</li>
        </ol>
    </section>
    <br />
    <br />

    <section class="content">
        <div class="row">
            <div class="col-xs-12">

                <div class="box">
                    <div class="box-header">
                        <h1 class="box-title" ><font size="5">Monthly Revenue</font></h1>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="tblApplications" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th> Month</th>
                                    <th>#Purchases</th>
                                    <th>#Units Sold</th>
                                    <th>Revenue</th>
                                </tr>
                            </thead>

                            <tbody></tbody>

                            <tfoot>
                                <tr>
                                    <th>#</th>
                                    <th> Month</th>
                                    <th>#Purchases</th>
                                    <th>#Units Sold</th>
                                    <th>Revenue</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
    <!-- Modal -->
</div>

