<div ng-controller="processApplications">
    <!-- Main content -->

    <section class="content">
        <div class="row">
            <div class="col-xs-12">

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Uprocessed Applications</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="tblApplications" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Purchase ID</th>
                                    <th>Identification No</th>
                                    <th>Customer Name</th>
                                    <th>Address</th>
                                    <th>Purchase Product</th>
                                    <th>Date Purchased</th>
                                </tr>
                            </thead>

                            <tbody></tbody>

                            <tfoot>
                                <tr>
                                    <th>Purchase ID</th>
                                    <th>Identification No</th>
                                    <th>Customer Name</th>
                                    <th>Address</th>
                                    <th>Purchase Product</th>
                                    <th>Date Purchased</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
    <!-- Modal -->
    <div id="processApplicationModal"></div>
</div>

