<div ng-controller="processApplications">
    <!-- Main content -->
    <section class="content-header">
        <h1>
            <font size="10">Process Purchases</font>
            <small>...</small>
        </h1>


        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Widgets</li>
        </ol>
    </section>
    <br />
    <br />


    <section class="content">
        <div class="row">
            <div class="col-xs-11" style="margin-left:1cm">
                <div class="box">
                    <div class="box-header">
                        <h1 class="box-title"><font size="5">Unprocessed Applications</font></h1>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="tblApplications" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Purchase ID</th>
                                    <th>Identification No</th>
                                    <th>Customer Name</th>
                                    <th>Address</th>
                                    <th>Purchase Product</th>
                                    <th>Date Purchased</th>
                                </tr>
                            </thead>

                           <tbody></tbody>
                          
                            <tfoot>
                                <tr>
                                    <th>Purchase ID</th>
                                    <th>Identification No</th>
                                    <th>Customer Name</th>
                                    <th>Address</th>
                                    <th>Purchase Product</th>
                                    <th>Date Purchased</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
    <!-- Modal -->
    <div id="processApplicationModal"></div>
</div>

