<section class="content-header">
    <h1>
        <font size="11">Created Consumer Profile </font>
        <small>see ....</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Help</a></li>
    </ol>
</section>
<br />


<section class="content">
    <div class="row">
        
        
        <div class="col-md-4">
            <div class="box box-default  box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Best consumers </h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body ">

                    <!-- note small description annocdote or momento-->
                    <div class="form-group">
                        <label for="exampleInputEmail1"> Selected Fields:</label>
                        <div id="exampleInputEmail1" class="row">
                            <div class="col-md-4"><i class="fa fa-female"></i>Female</div>
                            <div class="col-md-4"><i class="fa fa-group"></i>Employed</div>
                            <div class="col-md-4"><i class="fa fa-exclamation-triangle"></i>High Risk</div>
                        </div>
                    </div>

                    <br />
                    <ul class="nav nav-pills nav-stacked">
                        <li><a>
                             Last Updated
                            <span class="pull-right"> 21/05/2016</span>
                        </a>
                        </li>
                       
                        <li><a>
                            #Consumers in Group
                            <span class="pull-right">12</span>
                        </a>
                        </li>

                        <li>
                            <a>
                                 Sales Trend
                                <span class="pull-right text-red"><i class="fa fa-angle-down"></i> 12%</span>
                            </a>
                        </li>

                        <li>
                            <a>
                                Claim Rate
                                <span class="pull-right text-red"><i class="fa fa-angle-down"></i> 12%</span>
                            </a>
                        </li>
                    </ul>
                   




                </div>
                <!-- /.box-body -->

                <div class="box-footer">
                    <button type="button" class="btn btn-block btn-default">View More</button>
                </div>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->

        <div class="col-md-4">
            <div class="box box-default  box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Best consumers </h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body ">

                    <!-- note small description annocdote or momento-->
                    <div class="form-group">
                        <label for="exampleInputEmail1"> Selected Fields:</label>
                        <div id="exampleInputEmail1" class="row">
                            <div class="col-md-4"><i class="fa fa-female"></i>Female</div>
                            <div class="col-md-4"><i class="fa fa-group"></i>Employed</div>
                            <div class="col-md-4"><i class="fa fa-exclamation-triangle"></i>High Risk</div>
                        </div>
                    </div>

                    <br />
                    <ul class="nav nav-pills nav-stacked">
                        <li>
                            <a>
                                Last Updated
                                <span class="pull-right"> 21/05/2016</span>
                            </a>
                        </li>

                        <li>
                            <a>
                                #Consumers in Group
                                <span class="pull-right">12</span>
                            </a>
                        </li>

                        <li>
                            <a>
                                Sales Trend
                                <span class="pull-right text-red"><i class="fa fa-angle-down"></i> 12%</span>
                            </a>
                        </li>

                        <li>
                            <a>
                                Claim Rate
                                <span class="pull-right text-red"><i class="fa fa-angle-down"></i> 12%</span>
                            </a>
                        </li>
                    </ul>





                </div>
                <!-- /.box-body -->

                <div class="box-footer">
                    <button type="button" class="btn btn-block btn-default">View More</button>
                </div>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->


        <div class="col-md-4">
            <div class="box box-default  box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Best consumers </h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body ">

                    <!-- note small description annocdote or momento-->
                    <div class="form-group">
                        <label for="exampleInputEmail1"> Selected Fields:</label>
                        <div id="exampleInputEmail1" class="row">
                            <div class="col-md-4"><i class="fa fa-female"></i>Female</div>
                            <div class="col-md-4"><i class="fa fa-group"></i>Employed</div>
                            <div class="col-md-4"><i class="fa fa-exclamation-triangle"></i>High Risk</div>
                        </div>
                    </div>

                    <br />
                    <ul class="nav nav-pills nav-stacked">
                        <li>
                            <a>
                                Last Updated
                                <span class="pull-right"> 21/05/2016</span>
                            </a>
                        </li>

                        <li>
                            <a>
                                #Consumers in Group
                                <span class="pull-right">12</span>
                            </a>
                        </li>

                        <li>
                            <a>
                                Sales Trend
                                <span class="pull-right text-red"><i class="fa fa-angle-down"></i> 12%</span>
                            </a>
                        </li>

                        <li>
                            <a>
                                Claim Rate
                                <span class="pull-right text-red"><i class="fa fa-angle-down"></i> 12%</span>
                            </a>
                        </li>
                    </ul>





                </div>
                <!-- /.box-body -->

                <div class="box-footer">
                    <button type="button" class="btn btn-block btn-default">View More</button>
                </div>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->


        <div class="col-md-4">
            <div class="box box-default  box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Best consumers </h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body ">

                    <!-- note small description annocdote or momento-->
                    <div class="form-group">
                        <label for="exampleInputEmail1"> Selected Fields:</label>
                        <div id="exampleInputEmail1" class="row">
                            <div class="col-md-4"><i class="fa fa-female"></i>Female</div>
                            <div class="col-md-4"><i class="fa fa-group"></i>Employed</div>
                            <div class="col-md-4"><i class="fa fa-exclamation-triangle"></i>High Risk</div>
                        </div>
                    </div>

                    <br />
                    <ul class="nav nav-pills nav-stacked">
                        <li>
                            <a>
                                Last Updated
                                <span class="pull-right"> 21/05/2016</span>
                            </a>
                        </li>

                        <li>
                            <a>
                                #Consumers in Group
                                <span class="pull-right">12</span>
                            </a>
                        </li>

                        <li>
                            <a>
                                Sales Trend
                                <span class="pull-right text-red"><i class="fa fa-angle-down"></i> 12%</span>
                            </a>
                        </li>

                        <li>
                            <a>
                                Claim Rate
                                <span class="pull-right text-red"><i class="fa fa-angle-down"></i> 12%</span>
                            </a>
                        </li>
                    </ul>





                </div>
                <!-- /.box-body -->

                <div class="box-footer">
                    <a href="/home"> <button type="button" class="btn btn-block btn-default">View More</button></a>
                </div>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->



    </div>

</section>
   