    <!-- Morris.js charts -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">


<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>


<div ng-controller="dashboard">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <font size="10">DashBoard</font>
           
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </section>
    <br />
    <!-- Main content -->
    <section class="content">
        <!-- Info boxes -->
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-calendar"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Sales This Year</span>
                        <!--<div style="line-height:255%;">
                            <br>
                        </div>-->
                        <span class="info-box-number">R {{yearSale}}</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
           

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-green"><i class="fa  fa-clock-o"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Sales This Month</span>
                        <span class="info-box-number">R {{monthsales}}</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-red"><i class="fa  fa-warning"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Unprocessed Applications</span>
                        <span class="info-box-number">{{unprocessedApplications}}</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <!-- fix for small devices only -->
            <div class="clearfix visible-sm-block"></div>


            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Unique Clients</span>
                        <span class="info-box-number">{{numMembers}}</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <br/>
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <div class="col-md-8">
                <!-- MAP & BOX PANE -->
                <div class="box box-success" >
                    <div class="box-header with-border">
                        <h1 class="box-title"><font size="5">Sales this month</font></h1>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding" >
                        <!--<div class="row">-->
                            <div>
                                <div class="pad">
                                    <!-- Map will be created here -->
                                    <div class='chart' id='canvasData' style='height:330px'></div>
                                </div>
                            <!--</div>-->
                            <!-- /.col -->
                           
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.box-body -->
                    <!-- /.box-body -->
                    <div class="box-footer">
                          The  graph above displays the sales per day for the current month
                    </div>
                    <!-- /.box-footer -->

                </div>

            </div>
            <!-- /.col -->

            <div class="col-md-4">
                <!-- /.info-box -->
                <div class="info-box">
                    <span class="info-box-icon bg-orange"><i class="ion ion-ios-people-outline"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Claims Clients</span>
                        <span class="info-box-number">{{claims}}</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                
                
               <div class="info-box">
                    <span class="info-box-icon bg-green"><i class="ion ion-ios-cart-outline"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">sales today </span>
                        <span class="info-box-number">R {{salesToday}}</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>

                <!-- /.info-box -->
                <div class="info-box bg-aqua">
                    <span class="info-box-icon"><i class="fa fa-trophy"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Best selling Product</span>
                        <span class="info-box-number">{{bestProduct.name}}</span>
                        <span class="progress-description">
                           Current Sales {{bestProduct.overallUsage}}
                        </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
                <div class="info-box bg-red">
                    <span class="info-box-icon"><i class="fa fa-exclamation-circle"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Under performing Product</span>
                        <span class="info-box-number">{{worstProduct.name}}</span>
                        <span class="progress-description">
                            Current Sales {{worstProduct.overallUsage}}
                        </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>