    <!-- Morris.js charts -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">


<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

<div id="geoReports">
    <style>
        .removePersonalSpace 
        {
            margin: 0px;
            padding: 0px;
        }

       
    </style>
    <!-- ChartJS 1.0.1 -->
    
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgzaeGEo_YeMg-YKoZuXSWTLw7r8f0b30&callback=initMap" async defer></script>
    

    <section class="content-header">
        <h1>
            <font size="11">Geo Reports</font>
            <small>see .... reports</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Help</a></li>
        </ol>
    </section>
    <br />

    <div id='scrollableDiv' style='width:2000px; height: 530px; position: absolute; overflow: scroll;'>
        <div>
            <div class="row">
                <div class="col-sm-3" style="width:285px;margin:3px; padding:0px;margin-left:30px">

                    <!-- Widget: user widget style 1 -->
                    <div class="box box-widget widget-user" style="height:90%;">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header bg-aqua" style="height:58px;margin-top:-7px;">

                            <h3 class="widget-user-username">Track your Performance</h3>
                            <!--<h5 class="widget-user-desc">select any option below to being</h5>-->
                        </div>
                        <div class="box-footer no-padding">
                            <ul class="nav nav-stacked" style="font-size:19px">

                                <li> <br /> <br /></li>
                                <li onclick="drawMonthlySales()">
                                    <a>
                                        Monthly Sales <br />
                                        <span style="font-size:12px">show the current sales vs predicted sales value</span>
                                    </a>
                                </li>
                                <li onclick="monthlyLocationSales()">
                                    <a>
                                        Geo month sales  <br />
                                        <span style="font-size:12px">compare sales for one or more Products</span>
                                    </a>
                                </li>
                                <li onclick="ProductLocatioinSales()">
                                    <a>
                                        Geo Product Sales  <br />
                                        <span style="font-size:12px">View forcasted sales for your Products</span>
                                    </a>
                                </li>
                                
                                <li onclick="ProvincialSales()">
                                    <a>
                                        Provincial Sales  <br />
                                        <span style="font-size:12px">Product sales Per Product</span>
                                    </a>
                                </li>
                               
                                <li><a><br /><span style="font-size:12px"></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.widget-user -->

                </div>
                
                <!-- /.col -->
            <div class="col-sm-7" style="width:1200px;height:585px;margin-left:0px;color:aqua;">
                    <!-- Widget: user widget style 1 -->
                    <div class="box box-widget widget-user" style="height:90%;">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header bg-aqua" style="height:58px;margin-top:-7px;">

                            <h3 class="widget-user-username">Track your Performance</h3>
                            <!--<h5 class="widget-user-desc">select any option below to being</h5>-->
                        </div>
                        <div class="box-footer no-padding">
                            <div class="row">
                                <div id="canvas" class="col-sm-5" style="margin:0px;"></div>

                                <div id="submenu" class="col-sm-5" style="margin:0px;"></div>
                            </div>
                        </div>    
                    </div>
   
            </div>
                <!-- /.row -->
        </div>
        </div>


    </div>

    <script type='text/javascript'>

        var map;
        var selectedProduct = 31;
        var monthlylocationMarker = [];
        
        var productlist = [];
        var provincialData = [];

          function initMap()
          {
              document.getElementById('canvas').innerHTML = "<div id='map' style='width:500px;height:460px;margin:0px;'></div>";
              map = new google.maps.Map(document.getElementById('map'),
             {
                 center: { lat: -29.126612, lng: 25.543462 },
                 zoom: 5
             });
              httpGetAsync("http://nanofinapibeta.azurewebsites.net/api/ReportsMaster/getProductList", getProductList);

              var htnl = "<div id='informationBox' style='width:500px;height:460px;'></div>";
              document.getElementById('submenu').innerHTML = htnl;
          };

          function getProductList(responce)
          {
              productlist = JSON.parse(responce);   
          }


          var drawMonthlySales = function ()
          {
              document.getElementById('canvas').innerHTML = "";
              map = null;
          };

          var monthlyLocationSales = function ()
          {
              initMap();
              var responce = httpGet("http://nanofinapibeta.azurewebsites.net/api/ReportsMaster/getCurrentMonthlyLocationSalesSum");
              arr = JSON.parse(responce);
              for (i = 0; i < arr.length; i++)
              {
                  var latlng = String(arr[i].LatLng).split(",");
                  var myLatLng = { lat: parseInt(latlng[0]), lng: parseInt(latlng[1]) };
                  var note = String(arr[i].city) + " R" + arr[i].sales;

                  var marker = new google.maps.Marker(
                  {
                      position: myLatLng,
                      map: map,
                      title: note,
                      snippet: "marker" + arr[i].Location_ID
                  });

                  marker.addListener('click', function ()
                  {
                      var locID = String(this.snippet).replace("marker", "");
                      var req = httpGet("http://nanofinapibeta.azurewebsites.net/api/ReportsMaster/getCurrentMonthLocationProductSalesDistribution?locationID=" + locID);
                      //alert(req);
                      monthlysalesinforBox(JSON.parse(req), this.title);
                      locationLineGraph(locID);
                      toggleBounce(this);
                  });
              }
              
          };

          var monthlysalesinforBox =  function(arr, title)
          {
              var html = "";
              //alert(arr);
              html = "";

              html += "<div class='box box-widget widget-user' style='width:97%;color:black;margin:1px;border:1px solid blue;'>";
              html += "<div class='box-header bg-aqua'>";
              html += "<h3 class='box-title'>Top 5 Popular Products at "+title.split(" ")[0] +"</h3>";
              html += "";
              html += "<div class='box-tools pull-right'>";
              html += "<button type='button' class='btn btn-box-tool' style='color:white;' data-widget='collapse'><i class='fa fa-minus'></i>";
              html += "</button>";
              html += "";
              html += "</div>";
              html += "</div>";
              html += "";
              html += "<div class='box-footer no-padding'>";
              html += "<ul class='nav nav-pills nav-stacked' style='font-size:15px;'>";
              var ic = 0;
              for (ic = 0; ic < arr.length && ic < 5; ic++)
              {
                  html += "<li>" + arr[ic].productName + "<span class='pull-right text-green'><i class='fa fa-angle-up'></i> R " + arr[ic].sales + "</span></li>";
              }
              html += "<li>. </li>";
              html += "</ul>";
              html += "</div>";
              html += "</div>";
              html += "";
              
              html += "<div class='box box-solid bg-aqua' style='margin:1px'>";
              html += "<div class='box-header'>";
              html += "<i class='fa fa-th'></i>";
              html += "";
              html += "<h3 class='box-title'>Sales Graph</h3>";

              html += "<div class='box-tools pull-right'>";
              html += "<button type='button' class='btn bg-aqua btn-sm' data-widget='collapse'><i class='fa fa-minus'></i>";
              html += "</button>";
              html += "<button type='button' class='btn bg-aqua btn-sm' data-widget='remove'><i class='fa fa-times'></i>";
              html += "</button>";
              html += "</div>";
              html += "</div>";
              html += "<div class='box-body border-radius-none'>";
              html += "<div class='chart' id='line-chart' style='height: 226px;'></div>";
              html += "</div>";
              html += "</div>";

              
              document.getElementById('informationBox').innerHTML = html;


          }

          var locationLineGraph = function( locationID)
          {
              var sales = httpGet("http://nanofinapibeta.azurewebsites.net/api/ReportsMaster/getAllLocationSales?locationID=" + locationID);
              var data = JSON.parse(sales);
              var datasets = [];
              var counter = 1;
              var year = 5;
              var quarter = 1;
              var insert = 3;
              var index = 0;
              var date;

              for (var r in data)
              {
                  if (insert == 3)
                  {
                      date = "201" + String(year) + " Q" + String(quarter);
                      datasets.push({ y: date, item1: data[index], item2: data[index] });
                      if (quarter == 4)
                      {
                          year += 1;
                          quarter = 1;
                      }
                      quarter++;
                      counter++;
                      index += 3;
                      insert = 1;
                  }
                  insert++;
              }

              var line = new Morris.Line({
                  element: 'line-chart',
                  resize: true,
                  data: datasets,
                  xkey: 'y',
                  ykeys: ['item1'],
                  labels: ['sales in ZAR'],
                  lineColors: ['#efefef'],
                  lineWidth: 2,
                  hideHover: 'auto',
                  gridTextColor: "#fff",
                  gridStrokeWidth: 0.4,
                  pointSize: 4,
                  pointStrokeColors: ["#efefef"],
                  gridLineColor: "#efefef",
                  gridTextFamily: "Open Sans",
                  gridTextSize: 10
              });

          }

          var ProvincialSales = function ()
          {
              initMap();
              var responce = httpGet("http://nanofinapibeta.azurewebsites.net/api/ReportsMaster/get_PP_ProvincialSales");
              var arr = JSON.parse(responce);

              for (i = 0; i < arr.length; i++)
              {
                  var latlng = String(arr[i].LatLng).split(",");
                  var myLatLng = { lat: parseInt(latlng[0]), lng: parseInt(latlng[1]) };
                  var note = String(arr[i].Province) + " R" + arr[i].sales;

                  var marker = new google.maps.Marker(
                   {
                      position: myLatLng,
                      map: map,
                      title: note,
                      snippet: "marker" + arr[i].Province
                  });

                  marker.addListener('click', function ()
                  {
                      var locID = String(this.snippet).replace("marker", "");
                      drawProvincialPieGrapg(locID);
                      toggleBounce(this);

                  });
              }
              var res = httpGet("http://nanofinapibeta.azurewebsites.net/api/ReportsMaster/getProvincialProductType")
              provincialData = JSON.parse(res);
          };

          var drawProvincialPieGrapg =  function(id)
          {
              var html = "<div id='informationBox' style='width:570px;height:460px;'></div>";
              document.getElementById('submenu').innerHTML = html;
              
              html = "<div class='box box-danger'>";
              html += "<div class='box-header with-border'>";
              html += "<h3 class='box-title'>Donut Chart</h3>";

              html += "<div class='box-tools pull-right'>";
              html += "<button type='button' class='btn btn-box-tool' data-widget='collapse'><i class='fa fa-minus'></i>";
              html += "</button>";
              html += "<button type='button' class='btn btn-box-tool' data-widget='remove'><i class='fa fa-times'></i></button>";
              html += "</div>";
              html += "</div>";
              html += "<div class='box-body'>";
              html += "<canvas id='pieChart' style='height:400px'></canvas>";
              html += "</div>";
              html += "</div>";

              document.getElementById('informationBox').innerHTML = html;

              var pieChartCanvas = $("#pieChart").get(0).getContext("2d");
              var pieChart = new Chart(pieChartCanvas);
              var PieData = [];

              var colors = ["#f56954", "#00a65a", "#f39c12", "#00c0ef", "#3c8dbc", "#d2d6de"];
              var colourCounter = 0;

              for (i = 0; i < provincialData.length; i++)
              {
                  if (provincialData[i].Province === id)
                  {
                      
                      PieData.push({
                          value: provincialData[i].sales ,
                          color: colors[colourCounter],
                          highlight: colors[colourCounter],
                          label:  provincialData[i].insuranctTypeDescription + " Sold Worth R"
                      });
                      colourCounter++;
                  }
              }
              var pieOptions = {
                  //Boolean - Whether we should show a stroke on each segment
                  segmentShowStroke: true,
                  //String - The colour of each segment stroke
                  segmentStrokeColor: "#fff",
                  //Number - The width of each segment stroke
                  segmentStrokeWidth: 2,
                  //Number - The percentage of the chart that we cut out of the middle
                  percentageInnerCutout: 50, // This is 0 for Pie charts
                  //Number - Amount of animation steps
                  animationSteps: 100,
                  //String - Animation easing effect
                  animationEasing: "easeOutBounce",
                  //Boolean - Whether we animate the rotation of the Doughnut
                  animateRotate: true,
                  //Boolean - Whether we animate scaling the Doughnut from the centre
                  animateScale: false,
                  //Boolean - whether to make the chart responsive to window resizing
                  responsive: true,
                  // Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
                  maintainAspectRatio: true,
                  //String - A legend template
                  legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<segments.length; i++){%><li><span style=\"background-color:<%=segments[i].fillColor%>\"></span><%if(segments[i].label){%><%=segments[i].label%><%}%></li><%}%></ul>"
              };
              //Create pie or douhnut chart
              // You can switch between pie and douhnut using the method below.
              pieChart.Doughnut(PieData, pieOptions);
          }


          var ProductLocatioinSales = function ()
          {
              initMap();
              drawProductsModal();
          };

          var InsuranceTypesLocationSales = function ()
          {
          };
          
          function drawProductsModal()
          {
              arr = productlist;

              var html = "";
              var index = 0;

              html += "<div class='modal fade' tabindex='-1' id='processApplicationModal' role='dialog' aria-labelledby='gridSystemModalLabel'>";
              html += "<div class='modal-dialog' role='document'>";
              html += "<div class='modal-content'>";
              html += "<div class='modal-header bg-aqua'>";
              html += "<button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>";
              html += "<h4 class='modal-title' id='gridSystemModalLabel'>Please Select A Product</h4>";
              html += "</div>";
              html += "<div class='modal-body'>";

              for (index = 0; index < arr.length - 1; index++)
              {
                  html += "<div class='row'>";
                  html += "<div  class='col-sm-5' style='margin:7px;'";
                  html += "<label><input type='radio' name='r3' id='checked" + arr[index].Product_ID + "' class='flat-red' checked>" + arr[index].name + "</label>";
                  html += "</div>";
                  index++;
                  html += "<div  class='col-sm-5' style='margin:7px;'";
                  html += "<label><input type='radio'  name='r3' id='checked" + arr[index].Product_ID + "' class='flat-red' checked>" + arr[index].name + "</label>";
                  html += "</div>";
                  index++;
                  html += "</div";
                  html += "";
              }

              html += "</div>";
              html += "<div class='modal-footer'>";
              html += "<button type='button' class='btn btn-default' data-dismiss='modal'>Close</button>";
              html += "<button type='button' id='submitSelectProductModal' class='btn btn-primary'>Save changes</button>";
              html += "</div>";
              html += "</div><!-- /.modal-content -->";
              html += "</div><!-- /.modal-dialog -->";
              html += "</div><!-- /.modal -->";

              document.getElementById("insertModal").innerHTML = html;
              $('#processApplicationModal').modal('show');


              document.getElementById("submitSelectProductModal").onclick = function ()
              {
                  var radios = document.getElementsByClassName("flat-red");

                  for (var i = 0, length = radios.length; i < length; i++)
                  {
                      if (radios[i].checked)
                      {
                          getAndDrawSelectProduct(productlist[i].Product_ID);
                          $('#processApplicationModal').modal('hide');
                          return;
                      }
                  }
              };

              //Flat red color scheme for iCheck
              $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
                  checkboxClass: 'icheckbox_flat-green',
                  radioClass: 'iradio_flat-green'
              });
          }

          function getAndDrawSelectProduct(productID)
          {
              //alert(productID);
              responce = httpGet("http://nanofinapibeta.azurewebsites.net/api/ReportsMaster/getProductLocationExpenditure?productID="+ productID);
              arr = JSON.parse(responce);
              selectedProduct = productID;
              for (i = 0; i < arr.length; i++)
              {
                  var latlng = String(arr[i].LatLng).split(",");
                  var myLatLng = { lat: parseInt(latlng[0]), lng: parseInt(latlng[1]) };
                  var note = String(arr[i].Province) + " " + arr[i].city + ",  R" + arr[i].sales;

                  var marker = new google.maps.Marker(
                    {
                      position: myLatLng,
                      animation: google.maps.Animation.DROP,
                      map: map,
                      title: note,
                      snippet: "marker" + arr[i].Location_ID
                  });

                  marker.addListener('click', function ()
                  {
                      var locID = String(this.snippet).replace("marker", "");
                      drawProductLocationInformation(locID);
                      toggleBounce(this);
                  });
              }
          }


          var drawProductLocationInformation = function (locID)
          {
              res = httpGet("http://nanofinapibeta.azurewebsites.net/api/ReportsMaster/getDemographicProductLocationLastMonthSales?productID=" + selectedProduct + "&locationsID=" + locID);
              data = JSON.parse(res);

              var numConsumers = 0;

              for (var i = 0 ; i < data.length ; i++)
                  numConsumers += data[i].numConsumers;
             
              var html = "<br /> <br/>"
              html += "<div class='row'>";

              for( var  i  = 0 ; i <  data.length && i < 3 ;i++)
              {
                html += "<div class='col-sm-7'>";
                html += "<div class='info-box'>";
                html += "<span class='info-box-icon bg-aqua' style='height:108px'><i class='fa fa-group'></i></span>";

                html += "<div class='info-box-content' style='color:black;'>";
                html += "SEGMENT SIZE <b style='margin-left: 45px'>" + parseFloat((data[i].numConsumers / numConsumers) * 100).toFixed(2) + "%" + "</b><br/>";
                html += "EMPLOYMENT STATUS <b style='margin-left: 2px'>" + data[i].employmentStatus + "</b><br/>";
                html += "AVG NETINCOME    <b style='margin-left: 26px'>R" + data[i].netIncome + "</b><br/>";
                html += "Avg #DEPENDANTS   <b style='margin-left: 21px'>" + data[i].NumDependants + "</b><br/>";
                html += "OVERALL GROUP Exp <b style='margin-left: 11px'>R" + data[i].sales + "</b><br/>";
                html += "</div>";
                html += "  </div>";
                html += "</div> <br />";
              }
              html += "</div>";

              var stucture = "<div id='informationBox' style='width:570px;height:460px;'></div>";
              document.getElementById('submenu').innerHTML = stucture;
              document.getElementById('informationBox').innerHTML = html;
          };



        /*
            Utility Functions
        */
          function httpGetAsync(theUrl, callback)
          {
              var xmlHttp = new XMLHttpRequest();
              xmlHttp.onreadystatechange = function ()
              {
                  if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                      callback(xmlHttp.responseText);
              }
              xmlHttp.open("GET", theUrl, true); // true for asynchronous 
              xmlHttp.send(null);
          }

          function httpGet(theUrl)
          {
              var xmlHttp = new XMLHttpRequest();
              xmlHttp.open("GET", theUrl, false); // false for synchronous request
              xmlHttp.send(null);
              return xmlHttp.responseText;
          }

          function toggleBounce(marker)
          {
              if (marker.getAnimation() !== null) {
                  marker.setAnimation(null);
              } else {
                  marker.setAnimation(google.maps.Animation.BOUNCE);
              }
          }
    </script>
    
    

</div>


<div id="insertModal" ></div>













<!--<div id="processApplicationModal"></div>-->

<!--<div class="modal fade" tabindex="-1" id="processApplicationModal" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-aqua">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                
                <div id="insertProduct"></div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    <!--</div>--><!-- /.modal-dialog -->
<!--</div>--><!-- /.modal -->